**/*.log
**/__pycache__
container.sif
presentation/*.aux
presentation/*.bbl
presentation/*.bcf
presentation/*.blg
presentation/*.log
presentation/*.nav
presentation/*.out
presentation/*.pdf
presentation/*.snm
presentation/*.toc